name: R-CMD-check

on:
  push:
    branches: [main]
    paths:
      - 'r-package/**'
      - '.github/workflows/R-CMD-check.yaml'
  pull_request:
    branches: [main]
    paths:
      - 'r-package/**'
      - '.github/workflows/R-CMD-check.yaml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (R-${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'devel'}
          - {os: ubuntu-latest, r: 'devel'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: macos-latest, r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      NOT_CRAN: false

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: r-package
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: r-package
          args: 'c("--no-manual", "--as-cran")'
